
#contact_form{
	border-radius: 5px;
	background-color: rgb(242, 242, 242);
	padding:20px;
	margin:30px;
	font-family:'Vollkorn', serif;
}

select:optional {
    border: 2px dashed green;
}

fieldset{
	border-radius: 5%;
	border:2px solid black;
	background-color: rgb(242, 242, 242);
	padding:20px;
	padding-top:0;
}

.main input:not(.search), select, textarea{
	display:inline-block;
	width:100%;
	padding:10px;
	margin:10px;
	margin-left:0;
	border-radius:4px;
	border:1px solid green;
	outline:none;
	resize:vertical;
	-webkit-transition:box-shadow 2s, border 2s;
	transition:box-shadow 2s, border 2s;
}

.main input:not(.search):focus, select:focus, textarea:focus{
	border:1px solid black;
	box-shadow:2px 5px 20px rgb(0,153,0);
}

.main input:not(.search):hover, select:hover, textarea:hover{
	box-shadow:2px 5px 20px rgb(0,153,0);
}

.main input[type=submit] {
	width: 100%;
	background-color: rgb(0,153,0);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition:background-color 0.5s;
	transition:background-color 0.5s;
}

.main input[type=submit]:hover {
	background-color: rgb(0,170,0);
	box-shadow:none;
}