
.navigation{
	border-right:1px solid white;
	border-bottom:1px solid white;
}

.sidebar {
	width:100%;
	z-index:1;
	overflow-x:hidden;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	margin-bottom:20px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

.sidebar a:hover {
	color: #f1f1f1;
}
